@model ControleDeLeiloes.Models.Anuncio

@{
    ViewData["Title"] = "Create";
}

<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
    <!-- Start .panel -->
    <div class="panel-heading">
        <h4 class="panel-title"></h4>
    </div>
    <div class="panel-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @*<input id="btnAtualizar" type="submit" value="Atualizar Anuncios" class="btn btn-primary mr5 mb10" />*@
                <button id="btnAtualizar" type="button" class="btn btn-primary mr5 mb10">Atualizar Anuncios</button>
            </div>
        </form>
        <form action="#" class="form-horizontal">
            <div class="form-group">
                <label id="estagioBarra" class="col-lg-2 control-label"></label>
                <div class="col-lg-10">
                    <div id="divProgressbar">
                        <div id="progressbar" class="progress-bar progress-bar-success"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label id="estagioBarra2" class="col-lg-2 control-label"></label>
                <div class="col-lg-10">
                    <div id="divProgressbar2">
                        <div id="progressbar2" class="progress-bar progress-bar-success"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label id="estagioBarra3" class="col-lg-2 control-label"></label>
                <div class="col-lg-10">
                    <div id="divProgressbar3">
                        <div id="progressbar3" class="progress-bar progress-bar-success"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts
{

    <script type="text/javascript">
        $(window).load(function () {

            timer = setInterval(function () {
                GetProgress(timer);
            }, 500);

            $('#btnAtualizar').on('click', function () {
                //timer = setInterval(function () {
                //    GetProgress(timer);
                //}, 2000);
                $.ajax({
                    url: "/Anuncios/AtualizarAnuncios",
                    type: "POST"
                });

                timer = setInterval(function () {
                    GetProgress(timer);
                }, 500);

            })
        });
        function GetProgress(timer) {
            $.ajax({
                type: 'GET',
                url: '/Anuncios/GetProgress',
                datatype: 'json',
                success: function (progresso) {
                    if (progresso.estagio != "Gravando Anuncios" && (progresso.etapa != progresso.quantidade || progresso.estagio == "Buscando Páginas" || progresso.estagio == "Buscando Anuncios")) {
                        if (progresso.estagio == "Buscando Páginas") {
                            document.getElementById("estagioBarra").innerHTML = "<label>" + progresso.estagio + "</label>";
                            $('#divProgressbar').attr("class", "progress progress-striped");
                            $('#progressbar').attr("aria-valuemax", progresso.quantidade);
                            $('#progressbar').attr("style", "width: " + (progresso.etapa / progresso.quantidade) * 100 + "%;");
                            $("#progressbar").html(progresso.etapa + "/" + progresso.quantidade);
                        }
                        else {
                            document.getElementById("estagioBarra2").innerHTML = "<label>" + progresso.estagio + "</label>";
                            $('#divProgressbar2').attr("class", "progress progress-striped");
                            $('#progressbar2').attr("aria-valuemax", progresso.quantidade);
                            $('#progressbar2').attr("style", "width: " + (progresso.etapa / progresso.quantidade) * 100 + "%;");
                            $("#progressbar2").html(progresso.etapa + "/" + progresso.quantidade);
                        }
                    }
                    else {
                        if (progresso.gravado == true) {
                            document.getElementById("estagioBarra2").innerHTML = "<label>Buscando Anuncios</label>";
                            $('#divProgressbar2').attr("class", "progress progress-striped");
                            $('#progressbar2').attr("style", "width: 100%;");
                            $("#progressbar2").html(progresso.quantidade + "/" + progresso.quantidade);
                            document.getElementById("estagioBarra3").innerHTML = "<label> Anuncios gravados com sucesso</label>";
                        }
                        if (progresso.estagio != "Gravando Anuncios") {
                            clearInterval(timer);
                        }
                    }
                }
            });
        }
    </script>

}
