@model ControleDeLeiloes.Models.Leilao

<table class="table">
    <thead>
        <tr>
            <th class="per15">Data</th>
            <th class="per15">Taxa Avaliação</th>
            <th class="per15">Taxa Venda</th>
            <th class="per55">Leiloeiro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Data)</td>
            <td>@Html.DisplayFor(model => model.TaxaAvaliacao)</td>
            <td>@Html.DisplayFor(model => model.TaxaVenda)</td>
            <td>@Html.DisplayFor(model => model.Leiloeiro.Nome)</td>
        </tr>
    </tbody>
</table>
